/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-08-2022, 7:43:29
    Author     : sebas
*/

 .comprar{
                margin-left: 10px;  
                padding: 2%;
                position: fixed;
                z-index: 99999;
                width: 95vw;
                height: 30vh;
                background: white;
               display: none;
               -webkit-box-shadow: 0px 15px 34px 7px #000000; 
                box-shadow: 0px 15px 34px 7px #000000;
            }
 .xxx:hover{
                background: white!important ;
                color: red !important;
            }
.seleccionado{
                color:red !important;
                background: white !important;
            }
           
            .activo{
                display: block;
                overflow: auto;
                animation-name: slideDown;
            -webkit-animation-name: slideDown;	
        	animation-duration: 1s;	
            -webkit-animation-duration: 1s;
            	animation-timing-function: ease;	
            -webkit-animation-timing-function: ease;	
        	visibility: visible !important;		
                
            }
            .inicio{
                height: auto;
                position: relative;
                width: 100%;
                margin-bottom: 10vh;
            }
            
            
            .img {
                width: 100%
            }
            
          

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
           
.cerrar{
    position: absolute;
    z-index: 99999999;
    left: 90%;
}

.footbg{
    background: rgb(63, 63, 63);
}

.textoblanco{
    color: white;
}